DB_HOST=localhost
DB_PORT=5433
DB_USER=ironoak
DB_PASSWORD=
DB_NAME=ironoak
AUTH_PEPPER=


REDIS_HOST=localhost
REDIS_PORT=6379

STORAGE_ENDPOINT=https://<account-id>.r2.cloudflarestorage.com
STORAGE_REGION=auto
STORAGE_BUCKET=ironoak-media-dev
STORAGE_ACCESS_KEY_ID=
STORAGE_SECRET_ACCESS_KEY=
STORAGE_PUBLIC_BASE_URL=https://pub-<hash>.r2.dev